@model SurveyViewModel

@{
    ViewData["Title"] = "Create a Survey";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <h3 style="font-size: 1.5rem" class="my-3">Create a Survey</h3>

        <form method="post">
            <div class="form-group">
                <label asp-for="Title">@Html.DisplayNameFor(m => m.Title)</label>
                <input type="text" class="form-control" placeholder="Enter title" asp-for="Title">
                <small id="emailHelp" class="form-text text-muted">* Required</small>
            </div>
            <div class="font-weight-normal mt-2">Questions</div>
            <hr />
            @for (var i = 0; i < ViewBag.Numbers.NumberOfQuestions; i++)
            {
                <div class="form-group mt-2 question-input">
                    <label asp-for="Questions[i].Title">Question @(i+1)</label>
                    <input type="text" class="form-control" placeholder="Enter a question" asp-for="Questions[i].Title">
                </div>
                @for (int j = 0; j < ViewBag.Numbers.NumberOfOptions; j++)
                {
                    <div class="form-group option-input">
                        <label asp-for="Questions[i].Options[j].Title">Option @(j+1)</label>
                        <input type="text" class="form-control" placeholder="Enter a option" asp-for="Questions[i].Options[j].Title">
                    </div>
                }
                <hr />
            }
            <a class="btn btn-outline-danger" asp-controller="Survey" asp-action="Index">Cancel</a>
            <button type="submit" class="btn btn-primary">Create Survey</button>
        </form>
    </div>
</div>
